Source: taskcoach
Section: utils
Priority: optional
Maintainer: Alejandro Garrido Mota <garridomota@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.5), python-wxgtk2.8, 
               python-support
Standards-Version: 3.9.1
Homepage: http://www.taskcoach.org
XS-Python-Version: >= 2.5

Package: taskcoach
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-wxgtk2.8,
         python-wxversion
Description: friendly and simple task manager
 TaskCoach is a simple open source todo manager to manage personal tasks
 and todo lists. It grew out of a frustration that well-known task managers,
 such as those provided with Outlook or Lotus Notes, do not provide
 facilities for composite tasks. Often, tasks and other things todo consist
 of several activities. Task Coach is designed to deal with composite tasks.
